body{
    text-align: center;
    box-sizing: border-box;
    padding: 2% 9%;
}
ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.li{
    display: flex;
    flex-direction: column;
    flex: 0 1 30%
};
figure{
    width: 100%;
}
img{
    width: 100% !important;
    height: 50%;
    object-fit: cover;
}

